<%- include ("./layout/header") %> <%- include ("./layout/menu") %>

<main class="sec">
  <div class="not-found sec-cont">
    <h1>Sidan kunde inte hittas</h1>
    <p>Vi kunde inte hitta <span><%= path %></span></p>
    <p>Försök igen senare eller besök en annan sida</p>
    <a href="/">Gå hem</a>
  </div>
</main>

<%- include ("./layout/footer") %>
