<%- include ("./layout/header") %> <%- include ("./layout/menu") %>

<main class="sec">
  <section class="sec-cont">
    <div class="undercategory">
      <h1 class="events-title">Our events</h1>
      <nav class="sec">
        <ul class="events-category-list">
          <li class="events-category-element">
            <a href="#">Live på bio</a>
          </li>
          <li class="events-category-element">
            <a href="#">Specialvisningar</a>
          </li>
        </ul>
      </nav>
    </div>
    <%- include ("./layout/uc-container") %>
  </section>
</main>

<%- include ("./layout/footer") %>
