
    <%- include ("./layout/header") %><script src="/static/js/movies.js" defer type="module"></script> <%- include ("./layout/menu") %>
    <%- include ("./layout/accordion") %>
    

    <main class="sec clear-main">
     
     
      
      <section class="sec-cont movies">
        <h2 class="movies-h2">På bion just nu</h2>
        <ul class="movies-list"></ul>
        <ul class="movies-list1"></ul>
        <ul class="movies-list2"></ul>
        <ul class="movies-list3"></ul>
        <ul class="movies-list4"></ul>
    
    
    </section>
    
    </main>
    
    <%- include ("./layout/footer") %>
   
  </body>
  </html>
  