
    <%- include ("./layout/header") %> <%- include ("./layout/menu") %>
    <main class="main-container sec">
      <div class="salon-description sec-cont">
        <section class="sec-cont">
          <div class="salons sec-cont">
            <div class="undercategory">
              <h1 class="about-salons">Salong A</h1>
              <nav class="sec">
                <ul class="movies-salon-list">
                  <li class="movies-salon-element">
                    <a href="/salon-a" id="salon-A">Salong A</a>
                  </li>
                  <li class="movies-salon-element">
                    <a href="/salon-b">Salong B</a>
                  </li>
                </ul>
              </nav>
            </div>
            <img src="static/images/Salong_A.jpg" class="salonA"></img>
            <p class="salon-text">
              Salong A är vår stora salong med en 500tum stor filmduk och 141st platser.
              Barco Laser 4K-projektor.
              Ljud Dolby Atmos.
              Moderna biofåtöljer, där man på de fyra första raderna i salongen kan luta ryggstödet bakåt för att 
              få en perfekt vinkel mot filmduken.
              Rad 8 har Lyxfåtöljer, där man själv väljer inställningar på stolen.
              Hörslinga finns, den täcker platserna 86-141.
            </p>
        </div>
      </section>
     
      <section class="salonA-movie-container sec-cont">
        <h2 class="salon-h2">Filmer som visas i salongen:</h2>
        <ul class="salon-movielist">
        </ul>
      
      </section>
    </div>
    </main>
    <%- include ("./layout/footer") %>