<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="static/images/favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="static/images/favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="static/images/favicon_io/favicon-16x16.png"
    />
    <link rel="manifest" href="static/images/favicon_io/site.webmanifest" />
    <title>Booking</title>
    <link rel="stylesheet" href="static/css/main.css" />
    <script type="module" src="src/JS/main.js" defer></script>
    <script type="module" src="src/JS/booking.js" defer></script>
    <script
      src="https://kit.fontawesome.com/04d50240d2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    %header% %menu%
    <main class="main-container sec">
      <div id="booking-render-container" class="sec-cont"></div>
    </main>
    %footer%
  </body>
</html>
