<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="static/images/favicon_io/site.webmanifest">
    <link rel="stylesheet" href="static/css/main.css" />
    <script type="module" src="src/JS/main.js"></script>
    <script type="module" src="src/JS/salons.js"></script>
    <script
      src="https://kit.fontawesome.com/04d50240d2.js"
      crossorigin="anonymous"
    ></script>
    <title>Salong A</title>
  </head>
  <body>
    %header% %menu%
    <main class="main-container sec">
      <div class="salon-description sec-cont">
        <section class="sec-cont">
          <div class="salons sec-cont">
            <div class="undercategory">
              <h1 class="about-salons">Salong A</h1>
              <nav class="sec">
                <ul class="movies-salon-list">
                  <li class="movies-salon-element">
                    <a href="/salon-a" id="salon-A">Salong A</a>
                  </li>
                  <li class="movies-salon-element">
                    <a href="/salon-b">Salong B</a>
                  </li>
                </ul>
              </nav>
            </div>
            <img src="static/images/Salong_A.jpg" class="salonA"></img>
            <p class="salon-text">
              Salong A är vår stora salong med en 500tum stor filmduk och 141st platser.
              Barco Laser 4K-projektor.
              Ljud Dolby Atmos.
              Moderna biofåtöljer, där man på de fyra första raderna i salongen kan luta ryggstödet bakåt för att 
              få en perfekt vinkel mot filmduken.
              Rad 8 har Lyxfåtöljer, där man själv väljer inställningar på stolen.
              Hörslinga finns, den täcker platserna 86-141.
            </p>
        </div>
      </section>
     
      <section class="salonA-movie-container sec-cont">
        <h2 class="salon-h2">Filmer som visas i salongen:</h2>
        <ul class="salon-movielist">
        </ul>
      
      </section>
    </div>
    </main>
    %footer%
  </body>
</html>