.fyranollfyra {
  margin-top: 40px;

  div {
    margin: 0px, auto;
    text-align: center;
    padding: 2rem 1rem;
    background-color: rgba($first-color, 0.8);
    margin: 2em auto;
    border-radius: 0.4rem;
    width: fit-content;
    h2,
    h3 {
      color: $second-color;
      margin: 1rem;
    }
    p {
      margin-bottom: 2em;
      font-weight: bold;
      color: $second-color;
    }
    a {
      color: $second-color;
      background-color: $default-red;
      padding: 0.6rem 1.8rem;
      border-radius: 10px;
      font-size: 1.2rem;
      font-weight: bold;
      border: none;
      margin: 0px, auto;
      cursor: pointer;
    }
  }
}
