<div class="sec-cont">
  <!-- Movie Accordion -->
  <section class="accordion-cont">
    <!-- Next / Before Buttons -->
    <button class="slide-btn prev">
      <img src="static/images/arrow-left-circle.svg" alt="previosly movie" />
    </button>
    <button class="slide-btn next">
      <img src="static/images/arrow-right-circle.svg" alt="next movie" />
    </button>

    <script src="/static/js/accordion.js" defer></script>
  </section>
</div>
