<h2>Lägg till din recension</h2>
<div class="addReview">
    <input id="addName" placeholder="Namn" required>
    <select id="rate" required>
        <option value="" selected="true" disabled="disabled">Sätt betyg</option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <textarea id="addComment" placeholder="Skriv din recension här" required></textarea>
    <button id="addBtn">Skicka</button>
</div>