<section class="show-movies sec-cont">
  <div class="movies-lists-container">
    <h1 class="index-title">PÅ BION JUST NU</h1>
  </div>

  <div class="sidebar sec-cont">
    <h3>Dagens visningar:</h3>
    <h4 class="todays-date"></h4>
    <ul class="todays-shows"></ul>
  </div>
</section>
